    <h2>New book</h2>



  <%= form_with model: @book, url: '/books', method: :post do |f| %>

      <h4>Title</h4>
      <%= f.text_area :title %>
    
      <h4>Body</h4>
      <%= f.text_area :body %>
    
     <p><%= f.submit 'Create Book' %></p>

  <% end %>

  <% if @book.present? && @book.any? {|book|book.errors.any?} %>
    <ul>
      <% @book.each do |book| %>
       <% if book.erroes.any? %>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
       <% end %>
      <% end %>
    </ul>
  <% end %>
  </body>

</html>
